@import url('https://fonts.maateen.me/adorsho-lipi/font.css');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@font-face {
font-family: 'SolaimanLipi';
src: url('font/SolaimanLipi.eot');
src: url('font/SolaimanLipi.woff') format('woff'),
    url('font/SolaimanLipi.ttf') format('truetype'),
    url('font/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
    url('font/SolaimanLipi.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'AdorshoLipi';
src: url('font/AdorshoLipi.eot');
src: url('font/AdorshoLipi.woff') format('woff'),
    url('font/AdorshoLipi.ttf') format('truetype'),
    url('font/AdorshoLipi.svg#AdorshoLipi') format('svg'),
    url('font/AdorshoLipi.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Mukti';
src: url('font/Mukti.eot');
src: url('font/Mukti.woff') format('woff'),
    url('font/Mukti.ttf') format('truetype'),
    url('font/Mukti.svg#Mukti') format('svg'),
    url('font/Mukti.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}
html, body{
    background:#FFF;
    font-family: 'AdorshoLipi', 'Ubuntu', sans-serif !important;
}
.header{
	background:#999;
	padding:2em 0;
}
::selection {
    color: #fff;
    background: #00c292;
}
#progress-bar {
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 45px;
    margin-top: 20px;
}
.user-database h2{
    margin-top: 150px;
}
ul, ol {
    margin: 0;
}
p {
    margin: 0;
}
button{
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    color: #fff;
}
.selectsearch{
    color: black;
}
.grid_3 {
    padding-top: 5em;
    padding-right: 0px;
    padding-bottom: 0em;
    padding-left: 0px;
    margin-bottom: 10px;
}
.breadcrumb1 {
    margin-bottom:2em;
}
.breadcrumb1 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.breadcrumb1 li {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    display: inline-block;
    color:#000;
    font-size:1em;
}
.breadcrumb1 li a {
    display:inline-block;
    color:#06b6d4;
}
.breadcrumb1 li a:hover{
	color:#000;
	text-decoration:none;
}
i.home_1{
	color:#06b6d4;
	font-size: 27px;
}
.current-page h4{
    font-size: 23px;
}
span.divider {
    padding: 0 5px;
    color: #ccc;
}
/* Pagination Start */
.page-link {
    transition: background-color 0.3s ease;
    color: #000;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 50%;
    margin: 6px 3px 9px 3px;
    text-align: center;
    display: inline-block;
    border: 1px solid #faf9fb;
    width: 40px;
    height: 40px;
    line-height: 37px;
    box-shadow: 0px 2px 5px -4px #0ea5e9;
}
/* Pagination End */
/*Form Type Start*/
.table-container,
.sbbiodata_profile_recentview {
    max-height: 90vh;
}
form {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    background: none;
    border-radius: 4px;
}
input[type=submit] {
    width: 47%;
    color: white;
    background: #00c292;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 42px;
    height: 40px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    border: 1px solid rgba(0,0,0,.05);
}
.input-group input[type="text"], select{
    border-radius: 4px;
    border: 1px solid #ccc;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 16px;
    padding:5px;
    display: block;
    width: 50%;
    color: black;
    outline: none;
    height: 33px;
    background-color: #fff;
    background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgb(0 0 0 / 10%);
}
.form-text-describe {
    display: block;
    width: 100%;
    height: 150px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: #4cafe809;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label{
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 700;
    margin-top: 2px;
    color: #00c292;
    font-size: 15px;
}
label span {
    color: #ff0080;
    font-size: 17px;
    font-weight: bold;
}
.form-text-describe:focus{
    border-color: #00c292;
    outline: 0;
    box-shadow: none !important;
}
.form-text, .form-select, .form-textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: #4cafe809;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus,
.form-text:focus,
.form-textarea:focus,
.form-select:focus,
#search-user-id:focus,
#search-keyword:focus{
    border-color: #079f79;
    outline: 0;
    box-shadow: none !important;
}
select option:checked{
    background: #06b6d4;
    color: #fff;
}
.result-selected{
    background: #06b6d4;
    color: #fff;
}
.chosen-container{
    display: block;
    width: 50%;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgb(0 0 0 / 10%);
    color: black;
    text-decoration: none;
    white-space: nowrap;
    line-height: 33.333px;
    font-size: 16px;
    text-align: center;
}
.input-group input[type="text"], select:hover{
    color: black;
}
input.transparent{
    background-color:#fff;
    border: none;
    outline: none;
    font-size: 12px;
    padding:5px;
    color:#555;
}
.inline-block {
    display: inline-block;
    padding-right:5%;
    color:#fff;
}
input#submit-btn {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    outline: none;
    color: #fff;
    font-size: 0.85em;
    padding: 6px 20px;
    border: 1px solid #fff;
}
/* FORM SUBMIT BUTTON START */
.btn_1{
    background: #00c292;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin: 0px;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}
.btn_1:hover {
    background: #079f79;
    color: #fff;
}
.form-actions p{
    font-size: 14px;
    color: black;
}
.form-actions a{
    font-size: 15px;
    color: black;
    text-decoration: underline;
    white-space: nowrap;
}
.form-actions a:hover{
    background: none;
    color: #079f79;
}
/* FORM SUBMIT BUTTON END */
.mx-min-wd {
    width: 400px;
}
.-wd-600 {
    width: 350px;
}
.-wd-480 {
    width: 300px;
}
.-wd-384 {
    width: 270px;
}
.-wd-320 {
    width: 263px;
}
/*Form Type End*/
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                    E   N   D                  --
--     SHOSUR BARI SOME OPTION USED ALL PAGE     --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                  S  T  A  R  T                --
--           SHOSUR BARI - REGISTER PAGE         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
.sb-register-login{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 400px;
    gap: 1.5rem;
    padding: 20px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Password Show Eye Icon Start */
.form-group{
    position: relative;
}
.form-group input {
    padding-right: 25px;
    background: #4cafe809;
}
.form-group .show-password {
    position: absolute;
    right: 10px;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}
.form-group:hover .fa-eye {
    color: #079f79;
}
.form-group:hover .fa-eye:before {
    content: 'Show Password';
}
/* Password Show Eye Icon END */
/*Used OR For Separate SignUp & SignIn Option Start*/
.or{
    font-size: 15px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.or::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #00c292;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
}
.sb-or{
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}
.or p{
    margin-top: 10px;
    margin-bottom: 0px;
}
/*Used OR For Separate SignUp & SignIn Option End*/
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                   E   N   D                   --
--           SHOSUR BARI - REGISTER PAGE         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                  S  T  A  R  T                --
--             SHOSUR BARI - LOGIN PAGE          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/*Remember Check Box Start*/
.remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
}
.remember-forgot label {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
}
.remember-forgot a {
    font-size: 14px;
    white-space: nowrap;
    color: #00c292;
    font-weight: 400;
}
/*Remember Check Box End*/
/*Checkbox with Right Mark Start */
#edit-remember {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s;
    position: relative;
    margin-right: 4px;
    margin-bottom: -3px;
}
#edit-remember:checked {
    background-color: #00c292;
    border-color: #00c292;
    color: #fff;
}
#edit-remember:checked::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
}
/*Checkbox with Right Mark End */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                   E   N   D                   --
--             SHOSUR BARI - LOGIN PAGE          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                S  T  A  R  T                  --
--   SHOSUR BARI BIODATA POST PAGE / FORM LIST   --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
.sb-biodata{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 95%;
    gap: 1.5rem;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    border: 1px solid rgba(0,0,0,.05);
}
.soshurbari-animation-icon {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.soshurbari-animation-icon img{
    justify-content: flex-end;
    margin: auto;
    width: 37px;
    height: 35px;
}
.sb-biodata-field{
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 0px;
    background: #00c292;
    border-radius: 4px;
}
.sb-biodata-field h2{
    text-align: center;
    color: #fff;
    margin: 15px auto;
    font-size: 25px;
}
.sb-biodata-field h2 span{
    color: white;
}
.shosurbari-biodata{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(180deg,#F3F9F9 0%,rgba(238,246,253,0) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
}
.sb-register-login h2{
    color: #fff;
    font-size: 28px;
    width: 100%;
    margin-top: 12px;
    border-radius: 4px;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.shosurbari-biodata .form-actions{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
.shosurbari-biodata-field{
    padding: 0px;
    margin-top: 32px;
    text-align: left;
}
.soshurbari-animation-icon h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
#progressbar {
    margin: auto;
    overflow: hidden;
    counter-reset: step;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    position: relative;
}
#progressbar li {
    list-style-type: none;
    color: #000;
    font-size: 15px;
    width: 112px;
    float: left;
    position: relative;
    z-index: 2;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 34px;
    line-height: 31px;
    display: block;
    font-size: 10px;
    color: #fff;
    background: #06b6d4;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 14px;
    position: relative;
    z-index: 2;
}
#progressbar li:after {
    content: '';
    width: calc(50% + 23px);
    height: 4px;
    border-radius: 0px;
    background: #06b6d4;
    position: absolute;
    left: -39px;
    top: 24px;
    z-index: 1;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #27ae60;
    color: white;
    z-index: 3;
}
/* Progressbar color */
#progressbar li:not(.active):after {
    background: #ccc;
}
#height-error-message {
    color: red;
    font-size: 12px;
}
#biodataForm {
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
fieldset {
	margin-bottom: 100px;
}
#biodataForm fieldset {
    border: 0 none;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}
/*Hide all except first fieldset*/
#biodataForm fieldset:not(:first-of-type) {
    display: none;
}
/*buttons*/
#biodataForm .action-button,
#biodataForm .biodata-submit {
    width: 47%;
    color: white;
    background: #00c292;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    height: 40px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    border: 1px solid rgba(0,0,0,.05);
}
#biodataForm .action-button:hover,
#biodataForm .biodata-submit:hover,
input[type=submit]:hover {
    background: #079f79;
    color: #fff;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
.error-message-empty{
    color: red;
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                    E   N   D                  --
--   SHOSUR BARI BIODATA POST PAGE / FORM LIST   --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--               S  T  A  R  T                   --
--      This is for Admin Customigation CSS      --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
#search-user-id,
#search-keyword,
#search { /*admin page search input field design */
    border: 1px solid #00c292;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input-group input[type="text"], select{
    height: 35px;
    width: 100%;
}
.search-admin{
    border: 1px solid #00c292;
    border-radius: 3px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-left: -6px;
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-clear-admin{
    border: 1px solid #00c292;
    border-radius: 3px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-left: 10px;
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-admin:hover,
.search-clear-admin:hover{
    background: #079f79;
    color: white;
}

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--                 E    N    D                   --
--      This is for Admin Customigation CSS      --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:1024px / S T A R T         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:1024px){
.see_sb_biodata {
    margin-left: auto;
    margin-right: auto;
}
.profile-img {
    min-width: 32%;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.biodatalist{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.sb_biodatanumber{
    font-size: 20px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:1024px / E  N  D          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:930px / S T A R T         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:930px){
h1, h2, h3, h4, h5, h6 {
    font-size: 40px;
}
#progressbar li {
    font-size: 15px;
    width: 80px;
}
#progressbar li:after {
    width: calc(30% + 23px);
    left: -23px;
}
.profile-side {
    width: 100%;
    text-align: center;
    padding: 3px;
    margin: auto;
}
.main-bd {
    flex-direction: column;
    padding-right: 0;
}
.profile-img img {
    position: relative;
    height: 168px;
    width: 168px;
}

.inline-block {
    padding-right: 1%;
}
.biodatanumber h2{
    font-size: 28px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin-top: -80px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}
.biodatalist{
    width: 45%;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:930px / E  N  D         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
/* End & Start */
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:768px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 768px){
h1, h2, h3, h4, h5, h6 {
    font-size: 35px;
}
.shosurbari-title {
    margin:auto;
    backdrop-filter: blur(5px);
    width: 80%;
}
.shosurbari-title h4 {
    font-size: 23px;
    line-height: 40px;
    font-weight: 550;
}
#biodataForm{
    margin: -30px auto;
}
.biodatanumber h2{
    font-size: 28px;
}
.sb_biodata_profile {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: -80px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:768px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:765px / S T A R T          --
--      Media Responsive / Phone Responsive      --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 765px) {
.sb_biodata_profile {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: -80px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.sb_biodatanumber{
    font-size: 22px;
}
.biodatalist{
    width: 45%;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:765px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:736px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 736px){
.shosurbari-biodata-form {
    margin-top: -60px;
}
section{
    margin-top: 68px;
}
.shosurbari-title {
    border: 1px solid;
    border-radius: 6px;
}
.shosurbari-title h4 {
    font-size: 22px;
    line-height: 35px;
    font-weight: 550;
}
#progressbar li:before{
    width: 30px;
    line-height: 28px;
}
#progressbar li {
    font-size: 14px;
    width: 65px;
}
#progressbar li:after {
    width: calc(20% + 23px);
    left: -18px;
}
.inline-block {
    display: inline-block;
    margin-bottom: 10px;
}
.wrap_1 {
    width:480px;
}
input#submit-btn {
    font-size: 0.85em;
    padding: 4px 10px;
}
#contact-form input[type='text'], #contact-form textarea {
    padding: 10px;
}
#contact-form input[type="submit"] {
    padding:10px;
}
.login_left {
    margin-bottom: 2em;
}
label {
    font-size: 13px;
}
.biodatanumber h2{
    font-size: 27px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
}
.sb_biodatanumber{
    font-size: 20px;
}
.biodatalist{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:736px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (min-width: 600px){
#biodataForm fieldset {
    width: 550px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:600px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 600px){
h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
}
.form-actions a{
    font-size: 14px;
}
.show-password i{
    font-size: 16px;
    top: 2px;
}
i .fa{
    font-size: 15px;
    top: 2px;
}
.btn_1 {
    font-size: 15px;
}
.current-page h4 {
    font-size: 21px;
}
.shosurbari-title h4 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 550;
}
#progressbar li:before{
    width: 25px;
    line-height: 24px;
    font-size: 13px;
}
#progressbar li {
    font-size: 13px;
    width: 55px;
}
#progressbar li:after {
    width: calc(15% + 23px);
    left: -15px;
    top: 21px;
}
#terms-checkbox {
    width: 27px;
}
#terms-checkbox:checked::after{
    left: 5px;
}
.sbbiodata_profile_recentview-mobile{
    width: 430px;
}
.biodatanumber h2{
    font-size: 27px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}
.sb_biodatanumber{
    font-size: 20px;
}
.biodatalist{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
}
.sb-register-login, .payment-form{
    width: 350px;
}
#biodataForm fieldset {
    width: 470px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--            max-width:600px / E  N  D          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:540px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 540px){
.biodatanumber h2{
    font-size: 24px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
}
.sb_biodatanumber{
    font-size: 22px;
}
.biodatalist{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:540px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:480px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:480px){
.sb-home-reg2 button, .sb-search-btn-banner button {
    padding: 7px;
    font-size: 17px;
    width: 180px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
}
.form-actions p {
    font-size: 13px;
}
.shosurbari-details p {
    font-size: 15px;
}
.remember-forgot label {
    font-size: 13px;
}
.remember-forgot a {
    font-size: 13px;
}
.btn_1 {
    font-size: 14px;
}
.sb-biodata-field h2{
    font-size: 23px;
}
.current-page h4 {
    font-size: 20px;
}
.shosurbari-title h4 {
    line-height: 30px;
    font-weight: 550;
}
#progressbar {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 300px;
}
#progressbar li:after {
    left: -28px;
    top: 25px;
    width: calc(40% + 23px);
}
#progressbar li:nth-child(4):before {
    margin-bottom: 10px;
}
#progressbar li:nth-child(5) {
    clear: left;
}
#progressbar li {
    width: 70px;
    font-size: 14px;
    float: left;
    text-align: center;
    padding: 5px;
    margin-left: calc((40px - 35px) / 2);
    margin-right: calc((40px - 35px) / 2);
}
.input-group input[type="text"], select, input.transparent{
    font-size: 10px;
}
input#submit-btn {
    font-size: 0.8125em;
    padding: 3px 8px;
}
.wrap_1 {
    width: 452px;
}
.inline-block {
    margin-bottom: 5px;
}
.biodatanumber h2{
    font-size: 18px;
}
.update-image-button{
    font-size: 13px;
    display: block;
}
.deleteimage {
    padding: 10px;
    margin-top: -15px;
    margin-left: -9px;
    width: 85%;
}
.update-image img {
    height: 148px;
    width: 148px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
}
.sb_biodatanumber{
    font-size: 22px;
}
.sb_mobilesearch  .sb_singlebio_mobilesearch {
    width: 194px;
    margin-left: 25px;
    margin-right: auto;
}
.sb_mobilesearch  #search-button{
    width: 135px;
    margin-left: auto;
    margin-right: 25px;
}
.sb-register-login{
    width: 300px;
}
#biodataForm fieldset {
    width: 404px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:480px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:414px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:414px){
.shosurbari-title h4 {
    line-height: 25px;
}
.wrap_1 {
    width: 375px;
}
.profile_left h2 {
    font-size: 1em;
}
.members_box2 p {
    margin-bottom: 1em;
}
form#contact-form {
    width: 60%;
}
#contact-form input[type='text'], #contact-form textarea {
    padding: 7px;
}
#contact-form input[type="submit"] {
    padding: 8px;
    font-size: 13px;
}
.biodatanumber h2{
    font-size: 16px;
}
.update-image-button{
    font-size: 13px;
    display: block;
}
.deleteimage {
    padding: 10px;
    margin-top: -15px;
    margin-left: -9px;
    width: 85%;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
}
.sb_biodatanumber{
    font-size: 22px;
}
.biodatalist{
    width: 280px;
}
.sb_mobilesearch #search-button {
    width: 123px;
}
#biodataForm fieldset {
    width: 374px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--            max-width:414px / E  N  D          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width: 384px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:384px){
.shosurbari-details p {
    font-size: 14px;
}
.btn_1 {
    font-size: 13px;
}
.sb-biodata-field h2{
    font-size: 21px;
}
.current-page h4 {
    font-size: 19px;
}
.shosurbari-title h4 {
    line-height: 25px;
}
#terms-checkbox {
    width: 36px;
}
.wrap_1 {
    width: 350px;
}
.inline-block {
    margin-bottom:2px;
}
#contact-form input[type='text'], #contact-form textarea {
    font-size: 12px;
}
#contact-form textarea{
    height:100px;
}
input#submit-btn {
    font-size: 0.8125em;
    padding: 1px 5px;
}
.biodatanumber h2{
    font-size: 12px;
}
.update-image-button{
    font-size: 13px;
    display: block;
}
.deleteimage {
    padding: 10px;
    margin-top: -15px;
    margin-left: -9px;
    width: 85%;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
}
.sb_biodatanumber{
    font-size: 20px;
}
.biodatalist{
    width: 260px;
}
.sb-register-login{
    width: 270px;
}
#biodataForm fieldset {
    width: 340px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--            max-width:384px / E  N  D          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--       max-width:350px / S  T  A  R  T         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width: 350px) {
h1, h2, h3, h4, h5, h6 {
    font-size: 23px;
}
.shosurbari-title h4 {
    line-height: 25px;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}
.sb_biodatanumber{
    font-size: 20px;
}
#biodataForm fieldset {
    width: 310px;
}
#progressbar {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 260px;
}
#progressbar li:after {
    left: -18px;
    top: 25px;
    width: calc(25% + 23px);
}
#progressbar li {
    width: 70px;
    font-size: 14px;
    float: left;
    text-align: center;
    padding: 5px;
    margin-left: calc((30px - 35px) / 2);
    margin-right: calc((30px - 35px) / 2);
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--            max-width:350px / E  N  D          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/

/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--          max-width:320px / S T A R T          --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/
@media (max-width:320px){
h1, h2, h3, h4, h5, h6 {
    font-size: 22px;
}
.shosurbari-title h4 {
    line-height: 24px;
}
.wrap_1 {
    width: 330px;
}
ul.profile_item{
    padding: 0;
    list-style: none;
    width: 110%;
    display: flex;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.update-image-button{
    font-size: 13px;
    display: block;
}
.deleteimage {
    padding: 10px;
    margin-top: -15px;
    margin-left: -9px;
    width: 85%;
}
.sb_biodata_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}
.sb_biodatanumber{
    font-size: 18px;
}
.biodatalist{
    width: 255px;
}
.remember-forgot{
    display: block;
}
.sb-register-login{
    width: 263px;
}
#biodataForm fieldset {
    width: 290px;
}
}
/*-- -- -- -- -- -- -- -- -- -- -- -- -- ---- -- --
--           max-width:320px / E  N  D           --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -*/